# Google Analytics ID (leave empty to disable)
PUBLIC_GA_ID=
# Google Client
PUBLIC_GI_CLIENT_ID="your-client-id.apps.googleusercontent.com"
GI_CLIENT_SECRET=your-client-secret
# App Environment (production or development)
PUBLIC_APP_ENV="development"
# Accounting Workbook ID
PUBLIC_GS_AW_ID=
# Resident Records ID
PUBLIC_GS_RR_ID=
# Shared Records ID
PUBLIC_GS_SR_ID=
# Branding
PUBLIC_BRANDING=
